:root{
  --bg-brown: #653732;
  --bg-light-brown: #966060;
  --bg-gold: #e8c342;
}

body {
  margin: 0;
  font-family: 'Macondo', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
button {
  font-family: Macondo;
  color: white;
  background-color: var(--bg-light-brown);
}
