.leaderBoardModal{
    background-color: var(--bg-brown);
    text-align: center;
    border: 3px solid var(--bg-gold);

    max-height: 90%;
    overflow-y: scroll;
}

.leaderBoardHeader {
    position: sticky;
    top: 0;
}

.leaderBoardModal h2 {
    font-size: 3rem;
    color: var(--bg-gold);
    background-color: var(--bg-brown);
    padding: 2rem;
    margin: 0;
}

.leaderBoardLabels{
    background-color: var(--bg-dark-brown);
}

.leaderBoardItem {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid black;

    font-size: 1.25rem;
}

.leaderBoardFooter{
    background-color: var(--bg-dark-brown);
    padding: 1rem;
    display: flex;
    justify-content: end;
    position: sticky;
    bottom: 0;
}

.leaderBoardFooter button{
    background-color: var(--bg-gold);
    color: var(--bg-brown);
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    font-family: 'Macondo';
}

.leaderBoardFooter button:hover{
    background-color: var(--bg-brown);
    color: var(--bg-gold);
}