.question-dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin: auto;
    z-index: 101;
    height: 100vh;
}

.question-container h2 {
    font-size: 2rem;
    border-bottom: 2px dashed white;
    padding-bottom: 2rem;
    margin-bottom: 0;
}

.question-container {
    background-color: var(--bg-brown);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 3rem;

    width: 80%;
    border: 1px solid var(--bg-gold);
    padding: 2rem;
}

.question {
    font-size: 3.5rem;
    margin-bottom: 2rem;
}

.options-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
}

.option {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    cursor: pointer;
    transition: all 0.02s ease-in-out;
}

.option:hover {
    color: var(--bg-gold);
}

.selected {
    color: var(--bg-gold);
}

.feedback-container {
    margin-top: 2rem;
    font-size: 2.5rem;
    text-align: center;
    display: none;
}

.feedback-container.correct {
    color: var(--bg-green);
}

.feedback-container.incorrect {
    color: var(--bg-red);
}

.feedback-container.show {
    display: block;
}

.dialog-modal {
    background-color: var(--bg-brown);
    position: fixed;
    bottom: 0;
    height: 200px;
    width: calc(100% - 6rem);
    border: 1px solid var(--bg-gold);
    font-size: 3rem;
    margin: 2rem;
    padding: 1rem;
    z-index: 100;
}

.question-dialog button {
    font-size: 1.25rem;
    display: block;
    width: 180px;
    height: 46px;
    background: var(--bg-light-brown);
    border: 1px solid #000000;
    border-radius: 20px;
    margin: 1rem;
}

.question-dialog button:hover {
    background: var(--bg-gold);
    color: var(--bg-brown);
    cursor: pointer;
}
